.progress-bar {
  display: flex;
  align-content: center;
  justify-content: right;
  width: 80%;
  margin-right: 5%;
  margin-top: auto;
  position: relative;
}

.skill {
  margin: 0.75%;
}

.form {
  margin: 0.75%;
}

.side-nav {
  width: 10vw;
}

.filter {
  width: 8vw;
  margin: 1vh 0.9vw;
}

.mat-card {
  width: 6vw;
  margin: 1vh 0.9vw;
}
