.progress-bar{
display: flex;
align-content: center;
justify-content: right;
width: 80%;
margin-right: 5%;
margin-top: auto;
position: relative;
}

.skill{
  margin: .75% 0;
}

.form{
  margin: .75%;
}

.example-container{
  height: calc(100vh - 64px);
}

.side-nav{
  width: 10vw;
}

.filter{
  width: 8vw;
  margin: 1vh .9vw;
}

.mat-card{
  width: 6vw;
  margin: 1vh .9vw;
}

.mat-drawer-container{
  display: inline;
}

.mat-drawer-content{
  display: inline;
}
