.flex-cv{
  margin: 0 .75%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.main-title{
  font-size: 150%;
}

.data{
  font-size: 120%;
}

.link{
  cursor: pointer;
}

.homer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.simpson{
  width: 70%;
  margin-top: 2%;
}

.inside{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.info{
  margin: 1%;
  width: 48%;
}

.gelerntes{
  margin: 1%;
}

.title{
  font-size: 110%;
}

.background{
  background: url("../../../../bilder/lebenslauf.jpg") no-repeat;
  height: calc(100vh - 64px);
}

mat-expansion-panel{
  margin: .75%;
}

@media screen and (max-width: 1600px){
  .simpson{
    width: 80%;
  }
}

@media screen and (max-width: 1440px){
  .simpson{
    width: 90%;
  }
}

@media screen and (max-width: 1275px){
  .simpson{
    width: 100%;
  }
}

@media screen and (max-width: 1150px){
  .inside{
    flex-direction: column;
  }
  .box{
    border-bottom: .5px solid #303030;
    margin: .75%;
  }
  .info{
    width: 100%;
    /* width: fit-content; */
  }
}
