<mat-drawer-container class="yigga" autosize>
  <mat-drawer #drawer class="homer" mode="over">
    <div class="resp">
      <button type="button" mat-button (click)="drawer.toggle()" class="resp">
        <i class="material-icons">
          menu
        </i>
      </button>
    </div>
    <!-- <app-menubar></app-menubar> -->
    <div class="responsive-flex">
        <button
          mat-button
          [routerLink]="'home'"
          [routerLinkActive]="'active'"
          [routerLinkActiveOptions]="{ exact: true }"
          class="simpsom"
          (click)="drawer.toggle()"
        >
          Home
        </button>
        <button
          mat-button
          [routerLink]="'cv'"
          [routerLinkActive]="'active'"
          [routerLinkActiveOptions]="{ exact: true }"
          class="simpsom"
          (click)="drawer.toggle()"
        >
          Lebenslauf
        </button>
        <button
          mat-button
          [routerLink]="'admin'"
          [routerLinkActive]="'active'"
          [routerLinkActiveOptions]="{ exact: true }"
          class="simpsom"
          (click)="drawer.toggle()"
        >
          Admin
        </button>
      </div>
  </mat-drawer>

  <div class="yikka">
    <button type="button" mat-button (click)="drawer.toggle()">
      <i class="material-icons">
        menu
      </i>
    </button>
  </div>

  <div class="outlet">
    <router-outlet class="mat-body"></router-outlet>
  </div>
</mat-drawer-container>

<!-- <div
  class="example-container"
  [class.example-is-mobile]="mobileQuery.matches"
  *ngIf="shouldRun"
>
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <i class="material-icons">
        menu
      </i>
    </button>
    <h1 class="example-app-name">Responsive App</h1>
  </mat-toolbar>

  <mat-sidenav-container
    class="example-sidenav-container"
    [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
  >
    <mat-sidenav
      #snav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56"
    >
      <mat-nav-list>
        <app-menubar></app-menubar>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="outlet">
        <router-outlet class="mat-body"></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div> -->
