<mat-table
  class="full-width-table"
  #table
  [dataSource]="dataSource"
  matSort
  aria-label="Elements"
>
  <!-- Id Column -->
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
    <mat-cell *matCellDef="let skill">{{ skill.Id }}</mat-cell>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="skillBeschreibung">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Skill Beschreibung</mat-header-cell>
    <mat-cell *matCellDef="let skill">{{ skill.skillBeschreibung }}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>

<mat-paginator
  #paginator
  [length]="dataSource.data.length"
  [pageIndex]="0"
  [pageSize]="50"
  [pageSizeOptions]="[25, 50, 100, 250]"
>
</mat-paginator>
