<mat-toolbar class="menubar">
  <button
    mat-flat-button
    [routerLink]="'/admin'"
    [routerLinkActive]="'active'"
    [routerLinkActiveOptions]="{ exact: true }"
    class="button-admin"
  >
    Admin home
  </button>
  <button
    mat-flat-button
    [routerLink]="'/admin/skills-add'"
    [routerLinkActive]="'active'"
    [routerLinkActiveOptions]="{ exact: true }"
    class="button-admin"
  >
    Skills hinzufügen
  </button>
  <button
    mat-flat-button
    [routerLink]="'/admin/upload-unterlagen'"
    [routerLinkActive]="'active'"
    [routerLinkActiveOptions]="{ exact: true }"
    class="button-admin"
  >
    Bewrbungunsterlagen hochladen
  </button>
  <button mat-flat-button (click)="logout()" class="button-admin">Ausloggen</button>
</mat-toolbar>
<mat-toolbar color="primary" class="menubar">
  <mat-toolbar-row>
    <button
      mat-button
      [routerLink]="'home'"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Admin
    </button>
    <button
      mat-button
      [routerLink]="'cv'"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Lebenslauf
    </button>
    <button
      mat-button
      [routerLink]="'admin'"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Admin
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-expansion-panel class="responsive" hideToggle="true">
  <mat-expansion-panel-header [collapsedHeight]="'64px'">
      <i class="material-icons">
        menu
      </i>
  </mat-expansion-panel-header>
  <div class="responsive-flex">
    <button
      mat-button
      [routerLink]="'home'"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Home
    </button>
    <button
      mat-button
      [routerLink]="'cv'"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Lebenslauf
    </button>
    <button
      mat-button
      [routerLink]="'admin'"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Admin
    </button>
  </div>
</mat-expansion-panel>

