.menubar{
  margin-bottom: 0;
}

.active {
  background-color: rgb(105, 240, 174);
  color: #303030;
}

.active:hover {
  background-color: rgb(106, 245, 178);
}

mat-toolbar-row{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
