.menubar{
  margin-bottom: 0;
  color: #f0f0f0;
}

button{
  margin: calc(1% - 2px) 0;
}

.active {
  background-color: rgb(255, 255, 255);
  color: #303030;
}

.active:hover {
  background-color: rgb(250, 250, 250);
}

mat-expansion-panel{
  border-radius: 0;
  box-shadow: none;
  background-color: #3F51B5 !important;
  color: #f0f0f0;
}

mat-expansion-panel-header{
  background-color: #3F51B5 !important;
}

mat-toolbar-row{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.responsive{
  display: none;
}

.responsive-flex{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #3F51B5;
  /* height: 100%; */
}

@media screen and (max-width: 600px){
  .menubar{
    display: none;
  }
  .responsive{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  mat-toolbar-row{
    justify-content: center;
  }
  .material-icons{
    margin: auto;
  }
  button{
    width: calc(100% - (1% - 2px));
    margin: calc(1% - 2px);
  }
}
