<mat-toolbar color="primary" class="menubar">
  <mat-toolbar-row>
    <button
      mat-button
      [routerLink]="'home'"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Home
    </button>
    <button
      mat-button
      [routerLink]="'cv'"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Lebenslauf
    </button>
    <button
      mat-button
      [routerLink]="'admin'"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Admin
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-expansion-panel class="responsive" hideToggle="true">
  <mat-expansion-panel-header [collapsedHeight]="'64px'">
      <i class="material-icons">
        menu
      </i>
  </mat-expansion-panel-header>
  <div class="responsive-flex">
    <button
      mat-button
      [routerLink]="'home'"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Home
    </button>
    <button
      mat-button
      [routerLink]="'cv'"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Lebenslauf
    </button>
    <button
      mat-button
      [routerLink]="'admin'"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Admin
    </button>
  </div>
</mat-expansion-panel>
