@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.link {
  text-decoration: none;
}

.outlet {
  color:#303030;
}

*{
  font-family: Roboto,"Helvetica Neue",sans-serif;
}

.white{
  color: #f0f0f0;
}

.center{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.link{
  cursor: pointer;
  text-decoration: underline;
  color: #303030;
  transition-duration: .5s;
}

.link:hover{
  color: blue;
  text-decoration: none;
  transition-duration: .5s;
}
