.flex-home{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* .background{
  background: rgb(63,137,181);
  background: linear-gradient(106deg, rgba(63,137,181,0.5746673669467788) 0%, rgba(149,0,255,0.5438550420168067) 100%);
} */

.flex2, .ueber-mich{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: calc(100vh - 64px);
  width: 50%;
}

#projektsearch{
  width: 100%;
}

.bewerbungsunterlagen, .skills, .flex-cv{
  margin: .75% .75% 0 .75%;
}

.main-title{
  font-size: 150%;
}

.data{
  font-size: 120%;
}

.homer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.inside{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.info{
  margin: 1%;
  width: 48%;
}

.title{
  font-size: 110%;
}

.button-link{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media screen and (max-width: 1024px){
  .flex-home{
    display: inline;
  }
  .flex2, .ueber-mich{
    display: inline;
    margin: 0 auto;
  }
  .flex-cv{
    margin: 0;
    padding: .75% .75% 0 .75%;
  }
}

@media screen and (max-width: 1500px){
  .flex2{
    width: 60%;
  }
  .ueber-mich{
    width: 40%;
  }
}

@media screen and (max-width: 460px){
  .respon{
    width: 80%;
  }
}
