.login {
  margin: 12.5% auto;
  width: 25%;
}

.login-inside {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1%;
  border-radius: 4px;
}

.login-input {
  margin-top: 5%;
}

mat-toolbar, button, input {
  border-radius: 4px;
  font-size: 20px;
}

p {
  margin: auto;
}

button {
  padding: 2%;
}

.login-cont{
  height: calc(100vh - 64px);
  background: rgba(0, 0, 0, 0);
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
