.login {
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  margin: 12.5% auto;
  width: 25%;
  padding: 1%;
  border-radius: 4px;
}

.login-input {
  margin-top: 5%;
}

mat-toolbar, button, input {
  border-radius: 4px;
  font-size: 20px;
}

p {
  margin: auto;
}

button {
  padding: 2%;
}

.login-cont{
  /* background: rgb(63,137,181);
  background: linear-gradient(106deg, rgba(63,137,181,0.5746673669467788) 0%, rgba(149,0,255,0.5438550420168067) 100%); */
  height: calc(100vh - 64px);
}
